@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: main 쪽 싹다 바꾸기!  */
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("/assets/images/crystal_ball.png"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.primary_btn{
  @apply p-2 sm:py-3 sm:px-5 mr-1 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

/* Nav Component */
.logo_text {
  @apply invisible sm:visible font-semibold text-lg text-black tracking-wide my-auto;
}

.menu ul {
  @apply absolute right-0 top-8 -mt-4 sm:mt-3 p-5 opacity-0 transition-all duration-500 ease-in-out w-fit;
}
.menu li:hover ul {
  @apply opacity-100 h-fit w-fit min-w-[100px] translate-y-0;
}
.dropdown_detail {
  @apply bg-white text-gray-700 block px-5 py-2 text-center no-underline hover:text-gray-500 font-medium;
}
/* .dropdown {
  @apply absolute right-0 top-full mt-3 w-fit p-5 rounded-lg text-xl bg-white  min-w-[100px] flex flex-col gap-2 justify-end items-end transition-all duration-500 ease-in-out;
} */
/* .menu {
  @apply relative block my-0 mx-auto w-fit;
} */
/* .dropdown_detail {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
} */

.head_text {
  @apply text-5xl font-extrabold leading-[1.15] text-black sm:text-5xl;
}

.red_gradient {
  @apply bg-gradient-to-r from-blue-500 via-red-600 to-orange-500 bg-clip-text text-transparent;
}

.description {
  @apply mt-5 text-lg text-gray-500 sm:text-lg max-w-2xl;
}

.result_txt {
  @apply absolute w-[75%] left-[13%] top-[20%] sm:top-[52%] sm:left-1/2 sm:w-[50%] md:w-[40%] lg:w-[28%] sm:-translate-x-1/2 sm:-translate-y-1/2 sm:text-lg items-center
}